.firsSection {
  background-size: cover;
  padding: 50px 0;
  color: #fff;
}
.largeHeader {
  position: relative;
  background: #333;
  background-image: url("https://www.hdwallpapers.in/download/black_and_white_picture_of_stars_during_nighttime_4k_5k_hd_galaxy-5120x2880.jpg");
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.mainTitle {
  position: absolute;
  min-width: 255px;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  color: #84aac9;
  text-align: center;
  font-size: 48px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo-1 .mainTitle {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.buttonsBlock {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 150px;
}

.initialSectionButton {
  color: #fff;
  padding: 8px 12px;
  min-width: 220px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
}
@media only screen and (max-width: 701px) {
  .buttonsBlock{
    right: calc(50% - 110px);
  }
}
