.container {
  text-align: center;
}

.sectionTitle {
  font-family: Risque;
  font-size: 60px;
}

.sectionDescription {
  margin-top: 30px;
  font-family: "Risque";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  color: #ffffff;
}

.nftelemsBlock {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.viewBtn{
  width: 245px;
}

.sectionCustomStyles{
  background-position: center;
}

@media screen and (max-width: 800px) {
  .nftelemsBlock {
    flex-direction: column;
    align-items: center;
  }
  .sectionTitle{
    font-size: 30px;
  }
  .sectionDescription{
    font-size: 18px;
  }
}
