.linker {
  color: red;
}
.navigation {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.navigationElement {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
  font-size: 14px;
  color: #101423;
}

@media screen and (max-width: 800px) {
  .navigation {
    width: auto;
  }
  .navigationElement{
    color: #fff;
  }
}
@media screen and (max-width: 701px) {
  .navigation {
    display: none;
  }
}
