.roundPlanetsContainer {
  margin-top: 180px;
}
.roundEarthContainer {
  width: 100%;
  display: flex;
  font-family: Monserat;
}

.marsBlock{
  margin-top: 70px;
}

.infoBlock {
  margin-top: 30px;
}
// @media screen and (max-width: 800px){
//   .roundEarthContainer{
//     flex-direction: column;
//   }
// }
