.logo {
  display: flex;
  // width: 15%;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

@media screen and (min-width: 701px) {
  .logo {
    margin: 0 30px;
  }
}
