.section {
  background-color: #080a15; 
  // box-shadow: inset 0 20px 80px -30px #4b2472;
  // background-position: center;
  background-size: cover;
  background-position: center;
  padding: 200px 30px 0;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: auto;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  font-family: "Stick No Bills";
  color: #f6ae18;
}
