.section {
  background-color: rgb(22, 21, 21);
  background-size: cover;
  background-position: center;
  padding: 150px 30px 50px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: auto;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 70px;
  font-size: 48px;
  font-family: "Stick No Bills";
  color: #8cb2c7;
}
