.section {
  background-color: #180c1dc9;
  background-size: cover;
  // box-shadow: inset 0 20px 80px -30px #4b2472;
  // background-position: center;
  padding: 190px 30px 50px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.sectionContainer {
  max-width: 1320px;
  margin: auto;
}
