.container {
  display: flex;
  min-height: 615px;
  background-image: url("../../assets//images/skyelement.svg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  text-align: center;
  color: #8CB2C7;
  font-family: "Stick No Bills";
  font-size: 48px;
  line-height: 50px;
}

.sectionDescription {
  padding: 0 30px;
  margin: 30px 0 100px 0;
  font-size: 22px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  margin-top: 60px;
  width: 1100px;
  // height: 430px;
}


.nextBtn {
  margin-left: 15px;
  height: 80px;
  width: 30px;
  background-image: url("../../assets//images/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.prevBtn {
  margin-right: 15px;
  height: 80px;
  min-width: 30px;
  background-image: url("../../assets//images/arrowLeft.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mobilePictureBlock {
  flex-direction: column;
}

.picture {
  display: none;
  padding: 30px;
  width: 100%;
  height: auto;
}
.viewBtnContainer {
  display: none;
  margin-bottom: 50px;
  width: 80%;
  justify-content: center;
}
.viewBtn {
  width: 80%;
}

@media screen and (max-width: 1260px) {
  .carouselContainer {
    width: 900px;
  }
}

@media screen and (max-width: 1024px) {
  .carouselContainer {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .carouselContainer {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .sectionTitle {
    font-size: 30px;
  }
  .picture {
    display: flex;
    padding: 0;
  }
  .viewBtnContainer {
    display: flex;
  }
}

// .slick-center {
//   border: 10px solid red;
// }
