.expanedElement {
  display: flex;
  align-items: center;
  margin-left: 10px;
  min-height: 22px;
  min-width: 22px;
  max-width: 22px;
  max-height: 22px;
}

@media screen and (min-width: 701px) {
  .expanedElement {
    display: none;
  }
}
