.roundEarthContainer {
  width: 100%;
  display: flex;
   font-family: "Stick No Bills";
}

.infoBlock {
  margin-top: 30px;
}
// @media screen and (max-width: 800px){
//   .roundEarthContainer{
//     flex-direction: column;
//   }
// }
