.carouselWrapper {
  display: flex;
  align-items: center;
}

.slideElement {
  // background-size: cover;
  object-fit: cover;
  // padding-bottom: 62.5%;
  // width: 330px;
  width: 100%;
  // height: 300px;
}

.nextBtn {
  margin-left: 15px;
  height: 80px;
  width: 30px;
  background-image: url("../../../assets//images/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.prevBtn {
  margin-right: 15px;
  height: 80px;
  min-width: 30px;
  background-image: url("../../../assets//images/arrowLeft.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width:801px) {
  .carouselWrapper {
    display: none;
  }
}
