.slideElement {
  background-size: cover;
  width: 300px;
  height: 300px;
}
.prevArrow {
  display: block;
  width: 35px;
  margin: -135px 0 0 -40px;
  height: 141px;
}

.nextArrow {
  display: block;
  width: 35px;
  margin: -135px -40px 0 0;
  height: 141px;
}
