.link {
  padding: 0 8px;
}
.text {
  padding: 10px;
}
.linkElement {
  color: #000;
}
.linkContainer {
  position: relative;
  width: 35px;
  height: 35px;
}

.imageWrapper {
  position: relative;
}

.imageElement {
  position: relative;
  margin: 0 8px;
  width: 35px;
  height: 35px;
}
