.FlipClock {
  min-width: 546px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;

  top: 120px;
  right: 50px;
  animation: showLeft 2s;
}

.FlipClock .M-Flipper {
  margin: 0 3px;
}

.FlipClock {
  em {
    display: inline-block;
    line-height: 102px;
    color: #fff;
    font-size: 66px;
    font-style: normal;
    vertical-align: top;
  }
}
.contentBlock {
  min-width: 546px;
  background: #000000;
  text-align: center;
  padding: 25px 15px;
  border-radius: 10px;
}
.titleOfMintBlock {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Stick No Bills";
  text-transform: uppercase;
  font-weight: bold;
  color: #f5deb3;
  font-size: 32px;
}
.timeBlock {
  display: flex;
  justify-content: center;
}

.uotSection {
  display: flex;
  margin: 0 4px;
}
.uotCurrentTime {
  min-width: 50px;
  min-height: 60px;
  color: #fccc23;
  border: 1px solid #f5deb3;
  font-family: "Stick No Bills";
  font-weight: bold;
  margin-right: 3px;
  padding: 8px;
  border-radius: 10px;
  font-size: 38px;
}

.numberOfUot {
  min-width: 33px;
  text-align: center;
}

.nameOfUot {
  text-align: center;
  color: #f5deb3;
  font-family: "Stick No Bills";
  text-transform: uppercase;
  font-size: 20px;
}

.connectWallet {
  margin-top: 60px;
}

@keyframes showLeft {
  from {
    top: -100%;
  }

  to {
    bottom: 120px;
  }
}

@media screen and (max-width: 1100px) {
  .FlipClock {
    top: initial;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: showLeftMobile 2s;
  }
  .nameOfUot{
    font-size: 15px;
  }

  .titleOfMintBlock{
    font-size: 26px;
  }
}

@media screen and (max-width: 800px) {
  .FlipClock {
    min-width: 500px;
  }

  .contentBlock{
    min-width: 500px;
    padding: 25px 0;
  }
  .uotCurrentTime{
    min-width: 40px;
    min-height: 50px;
    font-size: 24px;
    margin-right: 1px;
  }
  .uotSection {
    margin: 0 4px;
  }
  .numberOfUot {
    min-width: 20px;
  }
}
@media screen and (max-width:601px) {
   .FlipClock {
    min-width: 90%;
    margin: 0 auto;
  }
  .contentBlock{
    min-width: 90%;
    padding: 20px 10px;
  }

}

@keyframes showLeftMobile {
  from {
    bottom: -100%;
  }

  to {
    bottom: 20px;
  }
}
