.FlipClock {
  position: absolute;
  top: 120px;
  right: 120px;
  // text-align: center;
  // margin-top: 120px;
  animation: showLeft 2s;
}

.FlipClock .M-Flipper {
  margin: 0 3px;
}

.FlipClock {
  em {
    display: inline-block;
    line-height: 102px;
    color: #fff;
    font-size: 66px;
    font-style: normal;
    vertical-align: top;
  }
}

@keyframes showLeft {
  from {
    top: -100%;
  }

  to {
    bottom: 120px;
  }
}
