.viewButtonContainer {
  display: flex;
  padding: 12px;
  // min-width: 185px;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  color: #2d303b;
  background-color: #f5f699;
}
