.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: Rubik Mono One;
  margin-top: 325px;
  font-size: 60px;
  color: #985f2a;
}
.pictureDescription {
  display: flex;
  width: 1115px;
  justify-content: space-between;
  margin-top: 50px;
}
.picture {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  padding-bottom: 50px;
  align-items: flex-end;
}

.descriptionText {
  width: 560px;
  color: #985f2a;
  font-family: Ruda;
  font-size: 16px;
  font-family: Rubik Mono One;
}
