.bannerBlock {
  display: flex;
  max-width: 1115px;
  min-width: 1115px;
  margin: auto;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 3px solid grey;
}

.contentBlock {
  width: 45%;
  font-size: 19px;
}
.buttonBlock {
  display: flex;
  height: 100%;
  align-self: end;
}

.yellowBtnBlock {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #f5f799;
  padding: 12px;
  color: #2d303b;
  width: 220px;
}
