.bannerBlock {
  display: flex;
  margin: 70px 30px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 2px solid #f6ae18;
}

.contentBlock {
  width: 45%;
  font-family: Monserat;
  font-size: 19px;
}
.buttonBlock {
  display: flex;
  height: 100%;
  align-self: end;
}

.yellowBtnBlock {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #f5f799;
  padding: 12px;
  color: #2d303b;
  width: 220px;
}

@media screen and (max-width: 800px) {
  .bannerBlock {
    display: block;
    border: 2px solid #f6ae18;
    border-radius: 10px;
  }

  .contentBlock {
    width: 100%;
    font-size: 15px;
    text-align: left;
  }

  .buttonBlock {
    justify-content: flex-end;
  }

  .yellowBtnBlock {
    margin-top: 30px;
    color: #f5f699;
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;
  }
}
