.roadmapItem {
  display: flex;
  position: relative;
  // padding-bottom: 120px;
  min-height: 330px;
}
.roadMapBlockContent {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  border-right: 1px solid #f6ae18;
}
.infoRoadmapStep {
  margin-right: 50px;
  text-align: right;
}
.infoRoadmapStepReverse {
  text-align: left;
  margin-right: 0;
  margin-left: 50px;
}
.pictureBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  img {
    width: 300px;
    height: 300px;
  }
}
.reverse {
  flex-direction: row-reverse;
}
.reverseBlock {
  justify-content: flex-start;
  border-left: 1px solid #f6ae18;
  border-right: none;
}

.stagePhase {
  margin: 14px 0 40px;
  text-transform: uppercase;
  font-size: 22px;
  color: #f6ae18;
}

.goalBlock {
  display: flex;
  margin-bottom: 15px;
  align-items: flex-start;
}

.stageDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.stageGoal {
  text-align: left;
}

.whitecircle {
  min-width: 6px;
  max-width: 6px;
  height: 6px;
  margin-right: 8px;
  margin-top: 5px;
  background: #fff;
  border-radius: 50%;
}
.numberOfStage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  color: #f6ae18;
  height: 50px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 50px;
  transform: translateX(-50%);
  border-radius: 999px;
  border: 3px solid #f6ae18;
  background-color: black;
}

.stageLineLeft {
  width: 1px;
  height: 180px;
  position: absolute;
  left: 49%;
  top: 70px;
  background: #f6ae18;
}

.stageLineRight {
  width: 1px;
  height: 180px;
  position: absolute;
  right: 49%;
  top: 120px;
  background: #f6ae18;
}

@media screen and (max-width: 601px) {
  .pictureBlock {
    img {
      width: 230px;
      height: 230px;
    }
  }
}

@media screen and (max-width: 461px) {
  .pictureBlock {
    img {
      width: 180px;
      height: 180px;
    }
  }
  .infoRoadmapStep{
    margin-right: 20px;
  }
}
