.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px 12px;
  height: 70px;
  color: #fff;
}
.socialBtnBlock {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
}
