.connectWalletButton {
  min-width: 215px;
  color: wheat;
  background: transparent;
  font-weight: 600;
  border: 1px solid wheat;
  padding: 8px 12px;
  border-radius: 10px;
  margin: 0 20px;
  cursor: pointer;
}

@media screen and (max-width:701px){
  .connectWalletButton{
    margin: 0 10px;
  }
}
