.connectWalletButton {
  min-width: 215px;
  color: wheat;
  background: transparent;
  font-weight: 600;
  border: 1px solid wheat;
  padding: 8px 12px;
  border-radius: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.mintComponent {
  margin-top: 40px;
}

.mintSelect {
  width: 70px !important;
  padding: 4px 0 !important;
  background-image: none !important;
  text-align: center;
}

.amountBlock {
  display: flex;
  margin-left: 32px;
  color: #f5deb3;
  align-items: center;
  font-size: 18px;
}

.quantityAndPriceBlock {
  display: flex;
  font-family: "Stick No Bills";
  justify-content: space-between;
  align-items: center;
}

.totalPriceBlock {
  margin-right: 32px;
}

.priceTitle {
  color: #f5deb3;
  margin-right: 10px;
  font-size: 18px;
}

.totalPrice {
  // margin-right: 10px;
  font-size: 22px;
  // font-family: "Stick No Bills";
  color: #f6ae18;
}
.mintButton {
  color: wheat;
  background-color: #000;
  margin-top: 20px;
  padding: 5px 65px;
  border: 1px solid wheat;
  border-radius: 10px;
}

@media screen and (max-width: 701px) {
  .connectWalletButton {
    margin: 0 10px;
  }

  .totalPriceBlock{
    margin-right: 5px;
  }

  .amountBlock{
    margin-left: 5px;
  }
}
