.socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconLink {
  width: 36px;
  height: 36px;
}
.connectWallet {
  display: flex;
}
@media screen and (max-width: 800px) {
  .iconLink {
    margin: 0;
  }
}
