.socialContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconLink{
    width: 20px;
    height: 20px;
   
}
.iconWidth{
    background-color: red;
}

@media screen and (max-width: 1190px) {
    .socialContainer {
      display: none;
    }
  }