html,
body {
  padding: 0;
  margin: 0;
  font-family: Josefin Sans, sans-serif !important;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.swiper-slide-active {
  // transform: scale(1.25) !important;
}

.swiper-wrapper {
  padding: 50px 0;
}
