html,
body {
  padding: 0;
  margin: 0;
  font-family: Josefin Sans, sans-serif !important;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-center {
  height: 350px;
  background-size: cover;
  margin: 0 10px 0 17px;
  width: 350px;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
}

.slick-list {
  padding: 45px 0 !important;
}
